[Unit]
StopWhenUnneeded=true

[Service]
User=
WorkingDirectory=/usr/local/src/kani-bot
ExecStart=/bin/bash -lc 'bundle exec ruboty --dotenv'
ExecStop=/bin/kill -TERM $MAINPID
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=process

[Install]
WantedBy=multi-user.target
